.dashboard {
  width: 100%;
  min-height: 100vh;
}

.dashboard-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-create-blog {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  color: white;
  font-size: 19px;
}

.post-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image label {
  margin-right: 20px;
  font-weight: 600;
  color: white;
}

.image input {
  width: 250px;
  padding: 6px;
  outline: none;
  border: none;
}

.image input::placeholder {
  font-weight: bold;
}

textarea {
  margin-top: 10px;
}

textarea::placeholder {
  font-weight: bold;
}

.post-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-div button {
  width: 250px;
  margin-top: 20px;
  padding: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: bold;
}

.view-blogs {
  margin-top: 70px;
}

.view-blogs-p {
  font-weight: bold;
  color: white;
  font-size: 19px;
  text-align: center;
}

.blog-cont {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.blog-cont--- {
  flex: 1 0 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.image-blog {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out 0.2ms;
}

.image-blog:hover {
  transform: scale(1.1);
}

.blog-name,
.blog-desc {
  margin-top: 20px;
  color: white;
  text-align: center;
  font-weight: 600;
}

.blog-details-cont {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 20px;
}

.update {
  color: green;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.delete {
  color: red;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
